.mobiledeposit {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  background: #ce9400;
  border-radius: 50px;
  padding: 8px 16px;
  border: 0px none #ffffff;
}
.mobiledeposit > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.mobiledeposit > :global(.__wab_flex-container) > *,
.mobiledeposit > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mobiledeposit > :global(.__wab_flex-container) > picture > img,
.mobiledeposit
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobiledeposit {
    border-radius: 20px;
    padding: 3px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobiledeposit > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.mobiledepositcolors_gray {
  background: #8e8e93;
}
.mobiledepositcolors_white {
  background: #ffffff;
}
.mobiledepositcolors_blue {
  background: var(--token-SoOKQEEApfHs);
}
.mobiledepositcolors_black {
  background: #333333;
}
.mobiledepositcolors_lightGray {
  background: #f2f2f7;
}
.mobiledepositcolors_lightGrayOutline {
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.mobiledepositcolors_link {
  padding: 0px;
}
.mobiledepositsize_large {
  padding-left: 16px;
  padding-right: 16px;
}
.mobiledepositsize_large > :global(.__wab_flex-container) {
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.mobiledepositsize_large > :global(.__wab_flex-container) > *,
.mobiledepositsize_large
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.mobiledepositsize_large > :global(.__wab_flex-container) > picture > img,
.mobiledepositsize_large
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.mobiledepositsize_small {
  padding: 6px 8px;
}
.mobiledepositsize_narrow {
  padding-left: 6px;
  padding-right: 6px;
}
.mobiledepositrounded {
  border-radius: 9999px;
  padding: 8px 20px;
}
.mobiledepositstates_active {
  cursor: pointer;
  flex-direction: row;
  background: #eeeeee;
  border-radius: 6px;
  padding: 8px 12px;
}
.mobiledepositstates_active > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.mobiledepositstates_active > :global(.__wab_flex-container) > *,
.mobiledepositstates_active
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.mobiledepositstates_active > :global(.__wab_flex-container) > picture > img,
.mobiledepositstates_active
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.mobiledepositisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.mobiledepositsize_large_rounded {
  padding: 12px 32px;
}
.mobiledeposit:hover {
  background: #eeeeee;
}
.mobiledepositcolors_gray:hover {
  background: #98989d;
}
.mobiledepositcolors_blue:hover {
  background: #0a84ff;
}
.mobiledepositcolors_black:hover {
  background: #222222;
}
.mobiledepositcolors_link:hover {
  background: none;
}
.mobiledeposit:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.freeBox__emCka {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBoxshowStartIcon__emCkaKm79C {
  display: flex;
}
.freeBoxiconOnly__emCkaBgbOt {
  display: flex;
}
.freeBoxsize_large__emCkaBg0Pk {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBoxsize_small__emCkaL58 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotTargetStartIconcolors_gray {
  color: #ffffff;
}
.slotTargetStartIconcolors_blue {
  color: #ffffff;
}
.slotTargetStartIconcolors_black {
  color: #ffffff;
}
.svg__oOszG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.slotTargetChildreniconOnly > *,
.slotTargetChildreniconOnly > :global(.__wab_slot) > *,
.slotTargetChildreniconOnly > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildreniconOnly > picture > img,
.slotTargetChildreniconOnly > :global(.__wab_slot) > picture > img,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  display: none;
}
.slotTargetChildrencolors_gray {
  color: #ffffff;
}
.slotTargetChildrencolors_blue {
  color: #ffffff;
}
.slotTargetChildrencolors_black {
  color: #ffffff;
}
.slotTargetChildrencolors_link {
  color: var(--token-SoOKQEEApfHs);
}
.slotTargetChildrensize_large {
  line-height: 32px;
}
.slotTargetChildrensize_small {
  font-size: 12px;
  line-height: 16px;
}
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_expr_html_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot-string-wrapper),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.mobiledepositcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.freeBox__drHzf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxshowEndIcon__drHzFhUlNp {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.slotTargetEndIconcolors_black {
  color: #ffffff;
}
.slotTargetEndIconcolors_link {
  color: var(--token-SoOKQEEApfHs);
}
.svg__jB7A8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
