@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-SoOKQEEApfHs: #007aff;
  --plasmic-token-blue: var(--token-SoOKQEEApfHs);
  --token-dhsJQyqi2A9W: #c9c9c9;
  --plasmic-token-primary-label: var(--token-dhsJQyqi2A9W);
  --token-oS-L6cnhXPS8: #666666;
  --plasmic-token-secondary-label: var(--token-oS-L6cnhXPS8);
  --token-RB_neP9FZCCc: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-RB_neP9FZCCc);
  --token-U9swydjVGFGD: #ce9400;
  --plasmic-token-star-color: var(--token-U9swydjVGFGD);
  --token-ZMn3E1_-BZhJ: 1032px;
  --plasmic-token-navwidth: var(--token-ZMn3E1_-BZhJ);
  --token-LZSYrLg7iCCX: currentcolor;
  --plasmic-token-unnamed-style-token: var(--token-LZSYrLg7iCCX);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-oS-L6cnhXPS8: #292929;
    --plasmic-token-secondary-label: var(--token-oS-L6cnhXPS8);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant),
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant) {
  --mixin-YGtgkMrMFK1i_font-family: "Montserrat", sans-serif;
  --mixin-YGtgkMrMFK1i_font-size: 16px;
  --mixin-YGtgkMrMFK1i_font-style: normal;
  --mixin-YGtgkMrMFK1i_color: #333333;
  --mixin-YGtgkMrMFK1i_text-align: left;
  --mixin-YGtgkMrMFK1i_text-transform: none;
  --mixin-YGtgkMrMFK1i_white-space: pre-wrap;
  --mixin-YGtgkMrMFK1i_user-select: text;
  --mixin-YGtgkMrMFK1i_text-decoration-line: none;
  --mixin-YGtgkMrMFK1i_text-overflow: clip;
  --mixin-YGtgkMrMFK1i_line-height: 1.5;
  --mixin-0KlnXu8NG9Ut_font-family: "Inter", sans-serif;
  --mixin-0KlnXu8NG9Ut_color: #000000;
  --mixin-0KlnXu8NG9Ut_font-size: 48px;
  --mixin-0KlnXu8NG9Ut_font-weight: 700;
  --mixin-0KlnXu8NG9Ut_letter-spacing: -1px;
  --mixin-0KlnXu8NG9Ut_line-height: 1.1;
  --mixin-0KlnXu8NG9Ut_white-space: pre-wrap;
  --mixin-PZ3OJgDqtNyd_font-family: "Inter", sans-serif;
  --mixin-PZ3OJgDqtNyd_color: #000000;
  --mixin-PZ3OJgDqtNyd_font-size: 32px;
  --mixin-PZ3OJgDqtNyd_font-weight: 600;
  --mixin-PZ3OJgDqtNyd_letter-spacing: -0.8px;
  --mixin-PZ3OJgDqtNyd_line-height: 1.2;
  --mixin-PZ3OJgDqtNyd_white-space: pre-wrap;
  --mixin-onImIv10aZhb_font-family: "Inter", sans-serif;
  --mixin-onImIv10aZhb_color: #000000;
  --mixin-onImIv10aZhb_font-size: 24px;
  --mixin-onImIv10aZhb_font-weight: 600;
  --mixin-onImIv10aZhb_letter-spacing: -0.5px;
  --mixin-onImIv10aZhb_line-height: 1.3;
  --mixin-onImIv10aZhb_white-space: pre-wrap;
  --mixin-eCrisbI9PCzZ_font-family: "Inter", sans-serif;
  --mixin-eCrisbI9PCzZ_color: #000000;
  --mixin-eCrisbI9PCzZ_font-size: 20px;
  --mixin-eCrisbI9PCzZ_font-weight: 600;
  --mixin-eCrisbI9PCzZ_letter-spacing: -0.3px;
  --mixin-eCrisbI9PCzZ_line-height: 1.5;
  --mixin-eCrisbI9PCzZ_white-space: pre-wrap;
  --mixin-AmagtkYifIK1_font-family: "Inter", sans-serif;
  --mixin-AmagtkYifIK1_color: #000000;
  --mixin-AmagtkYifIK1_font-size: 16px;
  --mixin-AmagtkYifIK1_font-weight: 600;
  --mixin-AmagtkYifIK1_line-height: 1.5;
  --mixin-AmagtkYifIK1_white-space: pre-wrap;
  --mixin-lJoOUg655Rj2_border-left-color: #dddddd;
  --mixin-lJoOUg655Rj2_border-left-style: solid;
  --mixin-lJoOUg655Rj2_border-left-width: 3px;
  --mixin-lJoOUg655Rj2_color: #888888;
  --mixin-lJoOUg655Rj2_padding-left: 10px;
  --mixin-lJoOUg655Rj2_white-space: pre-wrap;
  --mixin-_aTVsXk1XvFD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_aTVsXk1XvFD_border-bottom-color: #dddddd;
  --mixin-_aTVsXk1XvFD_border-bottom-style: solid;
  --mixin-_aTVsXk1XvFD_border-bottom-width: 1px;
  --mixin-_aTVsXk1XvFD_border-left-color: #dddddd;
  --mixin-_aTVsXk1XvFD_border-left-style: solid;
  --mixin-_aTVsXk1XvFD_border-left-width: 1px;
  --mixin-_aTVsXk1XvFD_border-right-color: #dddddd;
  --mixin-_aTVsXk1XvFD_border-right-style: solid;
  --mixin-_aTVsXk1XvFD_border-right-width: 1px;
  --mixin-_aTVsXk1XvFD_border-top-color: #dddddd;
  --mixin-_aTVsXk1XvFD_border-top-style: solid;
  --mixin-_aTVsXk1XvFD_border-top-width: 1px;
  --mixin-_aTVsXk1XvFD_border-bottom-left-radius: 3px;
  --mixin-_aTVsXk1XvFD_border-bottom-right-radius: 3px;
  --mixin-_aTVsXk1XvFD_border-top-left-radius: 3px;
  --mixin-_aTVsXk1XvFD_border-top-right-radius: 3px;
  --mixin-_aTVsXk1XvFD_font-family: "Inconsolata";
  --mixin-_aTVsXk1XvFD_padding-bottom: 1px;
  --mixin-_aTVsXk1XvFD_padding-left: 4px;
  --mixin-_aTVsXk1XvFD_padding-right: 4px;
  --mixin-_aTVsXk1XvFD_padding-top: 1px;
  --mixin-_aTVsXk1XvFD_white-space: pre-wrap;
  --mixin-riDIaM6PCZku_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-riDIaM6PCZku_border-bottom-color: #dddddd;
  --mixin-riDIaM6PCZku_border-bottom-style: solid;
  --mixin-riDIaM6PCZku_border-bottom-width: 1px;
  --mixin-riDIaM6PCZku_border-left-color: #dddddd;
  --mixin-riDIaM6PCZku_border-left-style: solid;
  --mixin-riDIaM6PCZku_border-left-width: 1px;
  --mixin-riDIaM6PCZku_border-right-color: #dddddd;
  --mixin-riDIaM6PCZku_border-right-style: solid;
  --mixin-riDIaM6PCZku_border-right-width: 1px;
  --mixin-riDIaM6PCZku_border-top-color: #dddddd;
  --mixin-riDIaM6PCZku_border-top-style: solid;
  --mixin-riDIaM6PCZku_border-top-width: 1px;
  --mixin-riDIaM6PCZku_border-bottom-left-radius: 3px;
  --mixin-riDIaM6PCZku_border-bottom-right-radius: 3px;
  --mixin-riDIaM6PCZku_border-top-left-radius: 3px;
  --mixin-riDIaM6PCZku_border-top-right-radius: 3px;
  --mixin-riDIaM6PCZku_font-family: "Inconsolata";
  --mixin-riDIaM6PCZku_padding-bottom: 3px;
  --mixin-riDIaM6PCZku_padding-left: 6px;
  --mixin-riDIaM6PCZku_padding-right: 6px;
  --mixin-riDIaM6PCZku_padding-top: 3px;
  --mixin-riDIaM6PCZku_white-space: pre-wrap;
  --mixin-6NlODCDIlZBI_display: flex;
  --mixin-6NlODCDIlZBI_flex-direction: column;
  --mixin-6NlODCDIlZBI_align-items: stretch;
  --mixin-6NlODCDIlZBI_justify-content: flex-start;
  --mixin-6NlODCDIlZBI_list-style-position: outside;
  --mixin-6NlODCDIlZBI_padding-left: 40px;
  --mixin-6NlODCDIlZBI_position: relative;
  --mixin-6NlODCDIlZBI_list-style-type: decimal;
  --mixin-6NlODCDIlZBI_white-space: pre-wrap;
  --mixin-YN-6CYj_mNCR_display: flex;
  --mixin-YN-6CYj_mNCR_flex-direction: column;
  --mixin-YN-6CYj_mNCR_align-items: stretch;
  --mixin-YN-6CYj_mNCR_justify-content: flex-start;
  --mixin-YN-6CYj_mNCR_list-style-position: outside;
  --mixin-YN-6CYj_mNCR_padding-left: 40px;
  --mixin-YN-6CYj_mNCR_position: relative;
  --mixin-YN-6CYj_mNCR_list-style-type: disc;
  --mixin-YN-6CYj_mNCR_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant),
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant) {
  --mixin-p6uQXdPPTbeA_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-p6uQXdPPTbeA_box-shadow);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-YGtgkMrMFK1i_font-family);
  font-size: var(--mixin-YGtgkMrMFK1i_font-size);
  font-style: var(--mixin-YGtgkMrMFK1i_font-style);
  color: var(--mixin-YGtgkMrMFK1i_color);
  text-align: var(--mixin-YGtgkMrMFK1i_text-align);
  text-transform: var(--mixin-YGtgkMrMFK1i_text-transform);
  line-height: var(--mixin-YGtgkMrMFK1i_line-height);
  white-space: var(--mixin-YGtgkMrMFK1i_white-space);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-0KlnXu8NG9Ut_font-family);
  color: var(--mixin-0KlnXu8NG9Ut_color);
  font-size: var(--mixin-0KlnXu8NG9Ut_font-size);
  font-weight: var(--mixin-0KlnXu8NG9Ut_font-weight);
  letter-spacing: var(--mixin-0KlnXu8NG9Ut_letter-spacing);
  line-height: var(--mixin-0KlnXu8NG9Ut_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-PZ3OJgDqtNyd_font-family);
  color: var(--mixin-PZ3OJgDqtNyd_color);
  font-size: var(--mixin-PZ3OJgDqtNyd_font-size);
  font-weight: var(--mixin-PZ3OJgDqtNyd_font-weight);
  letter-spacing: var(--mixin-PZ3OJgDqtNyd_letter-spacing);
  line-height: var(--mixin-PZ3OJgDqtNyd_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-onImIv10aZhb_font-family);
  color: var(--mixin-onImIv10aZhb_color);
  font-size: var(--mixin-onImIv10aZhb_font-size);
  font-weight: var(--mixin-onImIv10aZhb_font-weight);
  letter-spacing: var(--mixin-onImIv10aZhb_letter-spacing);
  line-height: var(--mixin-onImIv10aZhb_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-eCrisbI9PCzZ_font-family);
  color: var(--mixin-eCrisbI9PCzZ_color);
  font-size: var(--mixin-eCrisbI9PCzZ_font-size);
  font-weight: var(--mixin-eCrisbI9PCzZ_font-weight);
  letter-spacing: var(--mixin-eCrisbI9PCzZ_letter-spacing);
  line-height: var(--mixin-eCrisbI9PCzZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-AmagtkYifIK1_font-family);
  color: var(--mixin-AmagtkYifIK1_color);
  font-size: var(--mixin-AmagtkYifIK1_font-size);
  font-weight: var(--mixin-AmagtkYifIK1_font-weight);
  line-height: var(--mixin-AmagtkYifIK1_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-lJoOUg655Rj2_color);
  padding-left: var(--mixin-lJoOUg655Rj2_padding-left);
  border-left: var(--mixin-lJoOUg655Rj2_border-left-width)
    var(--mixin-lJoOUg655Rj2_border-left-style)
    var(--mixin-lJoOUg655Rj2_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_aTVsXk1XvFD_font-family);
  border-radius: var(--mixin-_aTVsXk1XvFD_border-top-left-radius)
    var(--mixin-_aTVsXk1XvFD_border-top-right-radius)
    var(--mixin-_aTVsXk1XvFD_border-bottom-right-radius)
    var(--mixin-_aTVsXk1XvFD_border-bottom-left-radius);
  padding: var(--mixin-_aTVsXk1XvFD_padding-top)
    var(--mixin-_aTVsXk1XvFD_padding-right)
    var(--mixin-_aTVsXk1XvFD_padding-bottom)
    var(--mixin-_aTVsXk1XvFD_padding-left);
  border-top: var(--mixin-_aTVsXk1XvFD_border-top-width)
    var(--mixin-_aTVsXk1XvFD_border-top-style)
    var(--mixin-_aTVsXk1XvFD_border-top-color);
  border-right: var(--mixin-_aTVsXk1XvFD_border-right-width)
    var(--mixin-_aTVsXk1XvFD_border-right-style)
    var(--mixin-_aTVsXk1XvFD_border-right-color);
  border-bottom: var(--mixin-_aTVsXk1XvFD_border-bottom-width)
    var(--mixin-_aTVsXk1XvFD_border-bottom-style)
    var(--mixin-_aTVsXk1XvFD_border-bottom-color);
  border-left: var(--mixin-_aTVsXk1XvFD_border-left-width)
    var(--mixin-_aTVsXk1XvFD_border-left-style)
    var(--mixin-_aTVsXk1XvFD_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-riDIaM6PCZku_font-family);
  border-radius: var(--mixin-riDIaM6PCZku_border-top-left-radius)
    var(--mixin-riDIaM6PCZku_border-top-right-radius)
    var(--mixin-riDIaM6PCZku_border-bottom-right-radius)
    var(--mixin-riDIaM6PCZku_border-bottom-left-radius);
  padding: var(--mixin-riDIaM6PCZku_padding-top)
    var(--mixin-riDIaM6PCZku_padding-right)
    var(--mixin-riDIaM6PCZku_padding-bottom)
    var(--mixin-riDIaM6PCZku_padding-left);
  border-top: var(--mixin-riDIaM6PCZku_border-top-width)
    var(--mixin-riDIaM6PCZku_border-top-style)
    var(--mixin-riDIaM6PCZku_border-top-color);
  border-right: var(--mixin-riDIaM6PCZku_border-right-width)
    var(--mixin-riDIaM6PCZku_border-right-style)
    var(--mixin-riDIaM6PCZku_border-right-color);
  border-bottom: var(--mixin-riDIaM6PCZku_border-bottom-width)
    var(--mixin-riDIaM6PCZku_border-bottom-style)
    var(--mixin-riDIaM6PCZku_border-bottom-color);
  border-left: var(--mixin-riDIaM6PCZku_border-left-width)
    var(--mixin-riDIaM6PCZku_border-left-style)
    var(--mixin-riDIaM6PCZku_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-6NlODCDIlZBI_display);
  flex-direction: var(--mixin-6NlODCDIlZBI_flex-direction);
  align-items: var(--mixin-6NlODCDIlZBI_align-items);
  justify-content: var(--mixin-6NlODCDIlZBI_justify-content);
  list-style-position: var(--mixin-6NlODCDIlZBI_list-style-position);
  padding-left: var(--mixin-6NlODCDIlZBI_padding-left);
  position: var(--mixin-6NlODCDIlZBI_position);
  list-style-type: var(--mixin-6NlODCDIlZBI_list-style-type);
  flex-column-gap: var(--mixin-6NlODCDIlZBI_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YN-6CYj_mNCR_display);
  flex-direction: var(--mixin-YN-6CYj_mNCR_flex-direction);
  align-items: var(--mixin-YN-6CYj_mNCR_align-items);
  justify-content: var(--mixin-YN-6CYj_mNCR_justify-content);
  list-style-position: var(--mixin-YN-6CYj_mNCR_list-style-position);
  padding-left: var(--mixin-YN-6CYj_mNCR_padding-left);
  position: var(--mixin-YN-6CYj_mNCR_position);
  list-style-type: var(--mixin-YN-6CYj_mNCR_list-style-type);
  flex-column-gap: var(--mixin-YN-6CYj_mNCR_flex-column-gap);
}
