.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__bhPhT {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__bhPhT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__bhPhT > :global(.__wab_flex-container) > *,
.freeBox__bhPhT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bhPhT > :global(.__wab_flex-container) > picture > img,
.freeBox__bhPhT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__gziYn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__sqxpq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__qHSh {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__mU8FZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__tauFk:global(.__wab_instance) {
  position: relative;
}
.svg___7ROrE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tn259 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__ysfEe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qYKoK {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___7SjyG {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__lgT4T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__wNg0T:global(.__wab_instance) {
  position: relative;
}
.svg__f2UV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mgEi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value___5CKpe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__x7SFq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__rcDrB {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___39W7W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__iGVy0:global(.__wab_instance) {
  position: relative;
}
.svg___7RbxO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dctBo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
