.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: nowrap;
    align-items: stretch;
    background: url("./images/aviatorbgpng.png") top 50% left 50% / cover repeat;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.nav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.header {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  background: url("./images/banner3Png3.png") top 40% left -170% / cover repeat content-box
    padding-box scroll;
  height: 276px;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .header {
    background: url("./images/banner3Png3.png") top -31% left -170% / cover repeat
      content-box padding-box scroll;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding-bottom: 0px;
    background: url("./images/banner3Png3.png") top 40% left 53% / cover repeat
      content-box padding-box scroll;
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    align-items: stretch;
    margin: 0px;
  }
}
.banner {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px 32px 22px;
}
.banner > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.banner > :global(.__wab_flex-container) > *,
.banner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.banner > :global(.__wab_flex-container) > picture > img,
.banner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__fDsGn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
.img__fDsGn > picture > img {
  object-fit: cover;
}
.img__fDsGn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fDsGn {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    height: 120px;
    flex-shrink: 0;
  }
}
.homenav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 834px) {
  .homenav:global(.__wab_instance) {
    margin-right: 0px;
  }
}
.mainbody {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./images/aviatorbgpng.png") top 50% left 50% / cover repeat;
  padding: 32px 32px 97px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainbody {
    margin-bottom: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    background: none;
    width: 100%;
    flex-shrink: 1;
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
    padding: 0px;
  }
}
.grandjackpot {
  --plsmc-rc-col-gap: 0px;
}
.grandjackpot {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(-100px) translateZ(0px);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: -76px 8px 8px;
}
.grandjackpot > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .grandjackpot {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0px) translateY(-80px) translateZ(0px);
    position: relative;
    left: auto;
    top: auto;
    padding-top: 35px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .grandjackpot > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.grand {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .grand {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}
.img__iXwF5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img__iXwF5 > picture > img {
  object-fit: cover;
}
.img__iXwF5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__iXwF5 {
    width: 200px;
  }
}
.text__rjYf1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  transform: translateX(0px) translateY(-90px) translateZ(0px);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rjYf1 {
    transform: translateX(0px) translateY(-50px) translateZ(0px);
  }
}
.text__jxOjy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transform: translateX(0px) translateY(-80px) translateZ(0px);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jxOjy {
    transform: translateX(0px) translateY(-55px) translateZ(0px);
  }
}
.majorminormini {
  --plsmc-rc-col-gap: 0px;
}
.majorminormini {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translateX(0px) translateY(-140px) translateZ(0px);
  min-width: 0;
  padding: 8px;
}
.majorminormini > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.majorminormini > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.majorminormini > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 834px) {
  .majorminormini {
    transform: translateX(0px) translateY(-160px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .majorminormini {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(0px) translateY(-140px) translateZ(-140px);
    max-width: 375px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .majorminormini > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .majorminormini > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .majorminormini > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .majorminormini * {
    transform-style: preserve-3d;
  }
}
.major {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .major {
    padding-left: 0px;
  }
}
.img__lgSkr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lgSkr > picture > img {
  object-fit: cover;
}
.img__lgSkr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lgSkr {
    width: 106px;
    object-fit: scale-down;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lgSkr > picture > img {
    object-fit: scale-down;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lgSkr > :global(.__wab_img-spacer) > img {
    object-fit: scale-down;
  }
}
.text__fiLa4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  transform: translateX(0px) translateY(-90px) translateZ(0px);
  min-width: 0;
}
@media (max-width: 834px) {
  .text__fiLa4 {
    transform: translateX(0px) translateY(-75px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fiLa4 {
    font-size: 15px;
    transform: translateX(0px) translateY(-35px) translateZ(0px);
  }
}
.text__zrb5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  transform: translateX(0px) translateY(-80px) translateZ(0px);
  min-width: 0;
}
@media (max-width: 834px) {
  .text__zrb5O {
    transform: translateX(0px) translateY(-70px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zrb5O {
    transform: translateX(0px) translateY(-40px) translateZ(0px);
    font-size: 10px;
  }
}
.minor {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__v0Nl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__v0Nl > picture > img {
  object-fit: cover;
}
.img__v0Nl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__er2Or {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  transform: translateX(0px) translateY(-100px) translateZ(0px);
  min-width: 0;
}
@media (max-width: 834px) {
  .text__er2Or {
    transform: translateX(0px) translateY(-75px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__er2Or {
    font-size: 15px;
    transform: translateX(0px) translateY(-35px) translateZ(0px);
  }
}
.text__gGIy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transform: translateX(0px) translateY(-80px) translateZ(0px);
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 834px) {
  .text__gGIy {
    transform: translateX(0px) translateY(-70px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gGIy {
    transform: translateX(0px) translateY(-40px) translateZ(0px);
    font-size: 10px;
  }
}
.mini {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bfBXb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bfBXb > picture > img {
  object-fit: cover;
}
.img__bfBXb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__svcVp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  transform: translateX(0px) translateY(-90px) translateZ(0px);
  min-width: 0;
}
@media (max-width: 834px) {
  .text__svcVp {
    transform: translateX(0px) translateY(-75px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__svcVp {
    font-size: 15px;
    transform: translateX(0px) translateY(-35px) translateZ(0px);
  }
}
.text__jgTg3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transform: translateX(0px) translateY(-80px) translateZ(0px);
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 834px) {
  .text__jgTg3 {
    transform: translateX(0px) translateY(-70px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jgTg3 {
    transform: translateX(0px) translateY(-40px) translateZ(0px);
    font-size: 10px;
  }
}
.palmsEgtIgt {
  max-width: 1227px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  transform: translateX(0px) translateY(-100px) translateZ(0px);
  min-width: 0;
  padding: 32px;
}
.palmsEgtIgt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.palmsEgtIgt > :global(.__wab_flex-container) > *,
.palmsEgtIgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.palmsEgtIgt > :global(.__wab_flex-container) > picture > img,
.palmsEgtIgt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 32px;
}
@media (max-width: 834px) {
  .palmsEgtIgt {
    max-width: 801px;
    width: 100%;
    transform: translateX(0px) translateY(-200px) translateZ(0px);
    min-width: 0;
  }
}
@media (max-width: 834px) {
  .palmsEgtIgt > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 834px) {
  .palmsEgtIgt > :global(.__wab_flex-container) > *,
  .palmsEgtIgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .palmsEgtIgt > :global(.__wab_flex-container) > picture > img,
  .palmsEgtIgt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .palmsEgtIgt {
    margin-bottom: 0px;
    position: relative;
    left: auto;
    top: auto;
    transform: translateX(0px) translateY(-180px) translateZ(0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .palmsEgtIgt > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: center;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .palmsEgtIgt > :global(.__wab_flex-container) > *,
  .palmsEgtIgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .palmsEgtIgt > :global(.__wab_flex-container) > picture > img,
  .palmsEgtIgt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 10px;
  }
}
.palms:global(.__wab_instance) {
  position: relative;
}
.egt:global(.__wab_instance) {
  position: relative;
}
